@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  scroll-behavior: smooth;
}
:root {
  --primary-color: rgb(190, 11, 11);
  --secondary-color: rgb(23, 60, 61);
  --border: 2px lightgray solid;
}

body {
  color: lightgray;
  background-color: black;
  font-family: "Montserrat";
  max-width: 1000px;
  margin: auto;
}

main {
  padding: 0 30px;
}

h1 {
  font-size: clamp(4.4rem, 6vw, 5vw);
  margin-bottom: 10px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}
h2 {
  font-weight: 500;
  font-family: "Cormorant Garamond";
  font-size: 2.9rem;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 15px;
}
h3 {
  font-size: clamp(1.1rem, 1.4rem, 1.4rem);
  margin-bottom: 15px;
}
p {
  margin-bottom: 14px;
  font-size: 1.1rem;
}

#reviews,
#tour,
#buy,
#author,
#about {
  border: var(--border);
}
#reviews li {
  margin-bottom: 35px;
}

#reviews em {
  color: gray;
}

header div {
  text-wrap: nowrap;
  align-items: center;
  min-width: 80%;
  background-color: var(--primary-color);
}
header p {
  margin: 15px 40px;
}
header span {
  letter-spacing: 15px;
  display: block;
  background-color: black;
  padding: 20px;
  font-family: "Bebas Neue";
}
header {
  z-index: 99;
  min-height: 80vh;
  position: relative;
  align-items: center;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
header img {
  position: absolute;
  bottom: -19%;
  width: 370px;
}

nav {
  display: flex;
  width: 100%;
  z-index: 999;
  position: sticky;
  top: 0;
  font-family: "Cormorant Garamond";
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #00000060;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
  transition: 0.2s ease;
}

nav:hover {
  background-color: #000000e8;
}
nav li {
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
header span {
  display: block;
}

li {
  padding-bottom: 10px;

  font-size: 1.2rem;
}
nav ul {
  display: flex;
}

nav a {
  margin: 0 10px;
}

#author img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

section {
  padding: 20px 40px;
  margin-bottom: 50px;
}

section:not(section:first-child) {
  margin-top: 40px;
}

#about img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
footer a {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 200px;
  min-width: 40px;
  height: 40px;
  align-self: center;
  margin: 10px;
}

footer #socials {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: auto;
}
footer {
  padding: 30px;
  display: flex;
  text-decoration: underline;
  font-family: "Cormorant Garamond";
  flex-direction: column;
  background-color: black;
  font-weight: 600;
}

#tour ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#tour li {
  border: 2px solid var(--secondary-color);
  margin: 10px;
  padding: 20px;
}

a {
  transition: 0.2s ease;
}
footer a:hover {
  background-color: white;
}

a:hover {
  color: var(--primary-color);
}

footer a:hover {
  color: var(--secondary-color);
}

@media only screen and (min-width: 768px) {
  header span {
    display: unset;
  }
  header {
    min-height: 70vh;
  }
  header p {
    align-self: center;
  }
  header img {
    width: 580px;
    bottom: -30%;
  }
  nav a {
    margin: 0 30px;
  }
  .flex-container {
    display: flex;
    gap: 30px;
  }
  .flex-container img {
    width: 350px;
  }
}
