@import url("https://fonts.googleapis.com/css2?family=Chango&family=Gochi+Hand&family=Hepta+Slab:wght@1..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 13px;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Chango", sans-serif;
  display: block;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 12px;
  color: orange;
}

body {
  color: black;

  font-family: "Hepta Slab", sans-serif;
}

header h1:last-child {
  transform: rotateZ(-10deg);
  top: 110px;
}

header h1:first-child {
  transform: rotateZ(10deg);
  top: 30px;
  left: -90px;
}
header p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
}
header h1 {
  margin: 0 20px;
  background-color: rgb(255, 220, 47);
  width: 150%;
  transform: rotateZ(10deg);

  position: absolute;
  left: -40px;
}

header {
  z-index: 99;
  padding: 30px 0;
  background-color: rgb(241, 73, 7);
  font-family: "Gochi Hand", sans-serif;
  position: relative;
  top: 0;
  overflow: hidden;
  color: white;
  height: 190px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.5rem;
  font-style: normal;
}
nav {
  display: block;
  width: 100%;
  z-index: 999;
  position: sticky;
  top: 0;

  padding: 30px 10px;
  background-color: white;
  border-bottom: 2px solid orange;
}
nav li {
  position: relative;
}
nav a {
  padding: 10px;
  position: relative;
  text-decoration: none;
  color: inherit;
}

.buy-container {
  display: flex;
  gap: 25px;
}
nav ul {
  list-style: none;
  display: flex;
}
#about h2 {
  color: white;
}
#about p {
  color: white;
}
#about {
  position: relative;
  border-radius: 4px;
  padding: 50px;
  background-color: deepskyblue;
}
section {
  position: relative;
  margin-top: 40px;
}

main {
  padding: 0 30px;
}

footer {
  padding: 40px 0 30px;
  text-align: center;
}
