@import url("https://fonts.googleapis.com/css2?family=Chango&family=Gochi+Hand&family=Hepta+Slab:wght@1..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 13px;
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Chango", sans-serif;
  display: block;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}
p {
  font-size: 1rem;
}
body {
  font-family: "Hepta Slab", sans-serif;
}
header h1 {
  margin: 0 20px;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: contain;
  left: 0;
  background-position: 0%;
  z-index: -1;
  height: 100px;
  width: 100%;
  height: auto;
  background-image: url(images/flames.png);
  background-repeat: repeat-x;
}
header {
  z-index: 99;
  padding: 30px 0;
  background-color: orange;
  font-family: "Gochi Hand", sans-serif;
  position: sticky;
  top: 0;
  height: 190px;
  left: 0;
  color: black;
  right: 0;
  bottom: 0;
  font-size: 1.5rem;
  font-style: normal;
}
nav {
  display: block;
  width: 100%;
  z-index: 99;
  position: absolute;
  bottom: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.11);

  padding: 30px 10px;
  background-color: white;
  border-bottom: 2px solid orange;
}
nav li {
  position: relative;
}
nav a {
  padding: 10px;
  position: relative;
  text-decoration: none;
  color: inherit;
}

.buy-container {
  display: flex;
  gap: 25px;
}
nav ul {
  list-style: none;
  display: flex;
}

#about {
  padding: 50px;
  color: white;
  background-color: deepskyblue;
}
section {
  position: relative;
  margin-top: 40px;
}

main {
  padding: 0 30px;
}

footer {
  padding: 40px 0 30px;
  text-align: center;
}
